

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "RowsFont";
    src: url("fonts/MonoSpatial.ttf");
}

@font-face {
    font-family: "HeadFont";
    src: url("fonts/font.ttf");
}

@media print {

    html, body{ /*210,397*/
        width: 100%;
        height: 397mm;
        margin: 0 0;
        background-color: #fff;
    }

    #page {
       display: block;
       width: 100%;
       height: 100%;
    }

    h1 {
        width: 100%;
        font: 300 16px/1 Helvetica;
        text-align: center;
        margin-top: 2%;
    }

    h2,h3 {
        width: 100%;
        font: 300 12px/1 Sans-serif;
        text-align: left;
        margin-top: 3%;
        margin-left: 1cm;
    }

    #t-head {
        width: 98%;
        display: grid;
        margin: auto auto;
        margin-top: 3%;
        border-right: 1px solid #000;
        grid-template-columns: 16% 49% 12% 2% 10% 11%;
    }

    .t-box {
        display: block;
        width: 100%;
        text-align: center;
        vertical-align: middle;
        font: 200 12px/1 HeadFont;
        padding: 2% 0;
    }

    .t-box1 {border-left: 1px solid #000;border-right: 1px solid #000;border-top: 1px solid #000;}
    .t-box2 {border-top: 1px solid #000;border-right: 1px solid #000;}
    .t-box3 {border-right: 1px solid #000;}
    .t-box4 {border-top: 1px solid #000;border-right: 1px solid #000;}
    .t-box5 {border-top: 1px solid #000;}

    header {
        margin: auto auto;
        width: 98%;
        display: grid;
        grid-template-columns: 7% 9% 25% 2% 7% 5% 6% 4% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 7% 2% 2%;
        overflow: hidden;
        border: 1px solid #000;
    }

    .h-box {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 200px;
        border-right: 1px solid #000;
    }

    .h-box:last-child { border-right: none;}

    .h-txt-n, .h-txt-r {
        align-self: center;
        display: inline;
        font: normal 12px/1 "HeadFont";
    }

    .h-txt-r {
        width: auto;
        transform-origin: center;
        transform: rotate(-90deg);
        white-space: nowrap;
    }

    .h-txt-age {
        display: inline;
        transform: none;
        white-space: none;
        align-self: flex-end;
        text-align: center;
    }

    #age-box {
        display: grid;
        grid-template-columns: 50% 50%;
        border-top: 1px solid #000;
        width: 100%;
        align-self: flex-end;
    }
    .age-txt {
        display: block;
        width: 100%;
        font: 300 8px/3 Sans-serif;
        text-align: center;
    }
    .age-txt:first-child { border-right: 1px solid #000;}


    main {
        margin: auto auto;
        width: 98%;
        overflow: hidden;
    }
    .row {
        display: grid;
        grid-template-columns: 7% 9% 25% 2% 7% 5% 6% 4% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 2% 7% 2% 2%;
        border-bottom: 1px solid #000;
        border-right: 1px solid #000;
        border-left: 1px solid #000;
    }

    .txt {
        display: block;
        width: 100%;
        text-align: center;
        font: 200 10px/2 "RowsFont",monospace;
        color:  #818181;
        border-right: 1px solid #000;
    }

    .txt:last-child{ border-right: none;}

   }

/* mobile chrome fix margins */
@page {
    margin-right: 1px;
    margin-left: 1px; 
}
