
.tab-box {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    width: 100%;
    background-color: #147ca0;
}

.tab-bnt {
    background-color: var(--tab-box-bg);
    border: none;
    color: #f4f4f4;
    padding: 20% 0;
    text-transform: uppercase;
    font: 300 .8rem/1 "MonoSpace";
    outline: none;
    width: 100%;
    border-radius: 5px 5px 0 0;
}

.tab-bnt:first-child {
    background-color: #f6f6f6;
    color: #212121;
}

.window-1 { display: block;}
.window-2 { display: none;}
.window-3 { display: none;}
.window-4 { display: none;}

.w1-box1, .w1-box2, .w1-box3 {
    border: none;
    display: block;
    padding: 2%;
    margin: 1% auto 1% auto;
    width: 99%;
    background-color: #fafafa;
}

.w1-box1  label {
    display: block;
    font: 300 1rem/2 "MonoSpace";
    margin: 1% 0 2% 0;
    width: 100%;
    color: #101010;
}

.w1-box1 label input[type="text"] {
    display: block;
    border: 1px solid #c0c0c0;
    width: 100%;
    padding: 3% 1%;
    font: 200 1rem/1 "MonoSpace";
    outline-color: #147ca0;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 2px 3px #cecece;
 }
 
 .w1-box1-grid3 {
     display: grid;
     grid-template-columns: repeat(3,1fr);
     gap: 1em;
     width: 100%;
     margin: 2% 0;
 }
 
 .w1-box1-grid3 label input {
    display: block;
    border: 1px solid #c0c0c0;
    width: 100%;
    padding: 4% 1%;
    font: 200 1rem/1 "MonoSpace";
    outline-color: #147ca0;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    appearance: none;
    box-shadow: 0px 2px 3px #cecece;
 }
 
 .w1-box1-grid2 {
     display: grid;
     grid-template-columns: repeat(2,1fr);
     width: 100%;
     margin-top: 5%;
 }

 .w1-box1-grid2 label {
     display: inline;
     font: 200 1rem/1 "MonoSpace";
     text-align: center;
     width: 100%;
 }

 .w1-box1-grid2 label input[type="radio"] {
    vertical-align: middle;
}
 
 .w1-box1 select {
    display: block;
    border: 1px solid #c0c0c0;
    width: 100%;
    padding: 2% 1%;
    font: 200 1rem/1 "MonoSpace";
    outline-color: #147ca0;
    text-align: center;
    margin-top: 5%;
    background-color: #fff;
    border-radius: 5px;
    appearance: none;
    box-shadow: 0px 2px 3px #cecece;
 }
 
 .w1-box2-grid2 {
     width: 100%;
     display: grid;
     grid-template-columns: repeat(2,1fr);
     border: none;
     padding: 3% 0;
     align-items: center;
 }
 
 .w1-box2-grid2 label {
    display: block;
    font: 200 1rem/1 "MonoSpace";
    margin: 2% 0;
    width: 100%;
    color: #212121;
    border-bottom: 1px solid #cecece;
    border-right: 1px solid #cecece;

 }
 .w1-box2-grid2 label:nth-child(even) {
     width: 90%;
     margin-left: 10%;
 }
 
 .w1-box2-grid2 label input[type="checkbox"]{
     float: right;
     margin: 0 auto;
 }
 
 
 .w1-box3-grid2 {
     display: grid;
     grid-template-columns: repeat(2,1fr);
     border: none;
     margin: 4% 0;
 }
 
 .w1-box3-grid2 button {
     displya: block;
     width: 55%;
     padding: 7% 0;
     margin: 0 auto;
     border-radius: 5px;
     background-color: #147ca0;
     border: 1px solid #147ca0;
     color: #fff;
     font: 300 1rem/1 "MonoSpace";
     box-shadow: 0px 2px 3px #cecece;
 }
 
 
 
 /* window_2 styles */
 
 .w2-box1 {
     width: 100%;
     height: 90vh;
     overflow: auto;
 }
 .w2-box1-card {
     display: block;
     width: 97%;
     margin: 2% auto;
     padding: 2% 4%;
     background-color: #fafafa;
     border-left: 5px solid #147ca0;
 }
 
 .w2-box1-card-grid2{
     width: 100%;
     display: grid;
     grid-template-columns: 50% 50%;
     margin-bottom: 3%;
 }
 
.w2-box1-card-grid2 i:first-child {
    color: red;
 }
 .w2-box1-card-grid2 i:last-child {
    display: block;
    width: 100%;
    text-align: right;
    color: orange;
 }
 
.w2-box2 {
    display: block;
    position: absolute;
    top: 90%; right: 5%;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #147ca0;
    border: 1px solid #147ca0;
    box-shadow: 1px 2px 2px #cecece;
    color: #fff;
    filter: opacity(0.4);
} 



